@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
  font-family: Inter, sans-serif;
  background-color: #0F0F0F;
}
a {
  text-decoration: none;
}
.viewPlaylistDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.chartCardDiv {
  width: 796px;
  height: 276px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #121212;
}
.topChartDiv {
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
.topCharts {
  width: 106px;
  height: 24px;
  color: #FFFFFF;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
}
.chartHitsDiv {
  width: 100%;
  height: 236px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
}