.nav {
    width: 302px;
    height: 100%;
    gap: 10px;
    display: flex;
    justify-content: left;
    background-color: #0F0F0F;
}
.menuIcon {
    display: none;
}
.navLinks {
    width: 254px;
    height: 208px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.navLinks li a {
    width: 254px;
    height: 40px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    gap: 8px 16px;
    text-align: start;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
}
.navLinks li:hover {
    width: 254px;
    height: 40px;
    gap: 8px;
    border-radius: 8px;
    background-color: #5E4BE2;
}
.navLinks li:last-child {
    display: none;
}
@media (max-width: 768px) {
    .menuIcon {
        display: block;
        width: 44.02px;
        height: 44.02px;
        font-size: 24px;
        color: #FFFFFF;
        cursor: pointer;
    }
    .navLinks {
        position: absolute;
        top: 32px;
        width: 100%;
        height: 100%;
        background-color: #0F0F0F;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    .navLinks.open {
        display: flex;
    }
    .navLinks li:last-child {
        display: block;
    }
}
@media (max-width: 480px) {
    .menuIcon, .navLinks {
        display: none;
    }
}